@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body{
    font-family: 'Rubik', sans-serif;
}
html,body{
    scroll-behavior: smooth;
}
h1 , h2 ,h3 , h4 , h5 , h6{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #302e4d;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #777777;
}
/*header section strat*/

a.nav-link.tab.active {
    color: red;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #00abe1;
    transition: 0.5s;
}
@media only screen and (max-width: 768px){
    ul.navbar-nav.ml-auto {
        position: relative;
        left: -48px;
    }
}

a.navbar-brand.logo {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #00ABE1;
}
nav.nav-design {
    /* box-shadow: 0px 0px 9px 1px #888888; */
    -webkit-box-shadow: 5px 3px 15px 2px #000000;
    box-shadow: 0px 4px 7px -2px #9a9a9a;
}
a.navbar-brand.logo:hover {
    color: #00ABE1;
}
ul.navbar-nav li.nav-item a.nav-link {
    padding: 0px 47px;
    color: #302e4d;
    font-size: 18px;
    font-weight: bold;
}
.my_img img {
    border-radius: 100%;
    height: 305px;
    width: 305px;
    border: 8px solid #00ABE1;
}

.text_type_js h4 .text
    {
        color: #00ABE1;
    }
    .text_type_js {
        padding-top: 21px;
    }
    .text_type_js h4 {
        font-size: 35px;
        font-weight: bold;
        font-family: 'Rubik', sans-serif;
    }
    .social_media_link a i {
        background: #00ABE1;
        padding: 14px 15px;
        font-size: 31px;
        border-radius: 50%;
        margin: 5px;
        color: white;
        border: 2px solid white;
    }
    .social_media_link a i:hover {
        background: white;
        border: 2px solid #00ABE1;
        color: #00ABE1;
        transition: 0.8s;
    }
    .hire_me_btn a {
        background: #00abe1;
        color: white;
        padding: 11px 25px;
        text-decoration: none;
        border-radius: 20px;
        letter-spacing: 2px;
    }
    
    .hire_me_btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }
/*header section end*/

/*About section strat*/
.About_title h2 {
    text-align: center;
    font-size: 46px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    padding-top: 60px;
}
.line {
    content: "";
    width: 275px;
    background: #00ABE1;
    height: 11px;
    margin: auto;
    border-radius: 50px;
}
.line::after {
    width: 25px;
    height: 25px;
    background: #00ABE1;
    content: "";
    position: absolute;
    left: 49%;
    margin-top: -7px;
    border-radius: 13px;
    border: 6px solid white;
}
.About_text h3 {
    color: #00ABE1;
}
.About_us_text p {
    font-family: 'Poppins', sans-serif;
    color: #777777;
    line-height: 30px;
}
.About_us_text p b {
    color: #000000c7;
}
.About_us_info li {
    list-style: none;
    margin-top: 35px;
}
p.info_name {
    color: #00ABE1;
    font-weight: bold;
    line-height: 15px;
}
p.info_name span {
    color: #777777;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
/*About section end*/

/* My Expertise section strat*/
.progressbar_title h2 {
    font-size: 16px;
}
.percentCount {
    margin-top: -45px;
}
/*progress bar section end*/

/* My Expertise section end*/

/*services section strat*/

.services_section_box {
    /* box-shadow: 0px 0px 10px 0px black; */
    background: white;
    text-align: center;
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    /* -webkit-box-shadow: 2px 1px 19px -3px #000000; */
    box-shadow: 2px 1px 19px -3px #0000006e;
    margin-bottom: 100px;
}
.icon i {
    font-size: 40px;
    position: absolute;
    top: -15%;
    left: 38%;
    background: #00ABE1;
    padding: 21px 17px;
    border-radius: 50px;
    color: white;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
i.fas.fa-mobile-alt {
    padding: 21px 28px;
}
i.fab.fa-wordpress {
    padding: 21px 21px;
}
i.fas.fa-search {
    padding: 21px;
}
.services_section_box h4 {
    padding-top: 20px;
}
.icon span {
    position: absolute;
    background: #00ABE1;
    padding: 23px 18px;
    border-radius: 50px;
    top: -12%;
    left: 40%;
    font-size: 22px;
    font-weight: bold;
    color: white;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.services_section_box:hover .icon i{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.services_section_box:hover .icon span{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
@media only screen and (max-width: 750px) {
    .icon i {
     left: 42%;
    }
  }
/*services section end*/
.fiverr_Gig_box{
    margin-bottom: 40px;
}
  .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 15px;
    right: 8px;
    height: 83%;
    width: 92%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
    border-radius: 5px;
}
  
  .fiverr_Gig_box:hover .overlay {
    opacity: 1;
  }
  
  .texts {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: #00ABE1;
    padding: 10px;
    border-radius: 10px;
}
  @media only screen and (max-width: 750px) {
    .overlay{
     width: 92%;
    }
  }
  /*fiverr section end*/

  /*portfolio section strat*/
  .screen {
    display: block;
    height: 350px;
    overflow: hidden;
    position: relative;
    border: 3px solid #00ABE19c;
    border-radius: 10px;
   margin-bottom: 30px;
}


  
  .screen img {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
  }

  /*portfolio section end*/

  /* contact section strat*/
  .contact_box {
    text-align: center;
}

.contact_icon i {
    font-size: 42px;
    color: #00ABE1;
}
.contact_box h6 {
    font-size: 20px;
    padding-top: 14px;
}
.contact_form input {
    border-radius: 50px;
}
.contact_form textarea {
    border-radius: 20px;
}
button.contact_btn.btn {
    background: #00ABE1;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    border: 3px solid white;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
button.contact_btn.btn:hover {
    background: white;
    border: 3px solid #00ABE1;
    color: #00ABE1;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.contact_map iframe {
    border-radius: 20px;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #00ABE1;
    outline: 0;
    box-shadow: 0 0 0 -0.8rem rgb(216, 83, 43);
}
footer.text-center a {
    text-decoration: none;
    color: #00ABE1;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00ABE1;
    color: white;
    cursor: pointer;
    padding: 15px 18px;
    border-radius: 4px;
    border-radius: 20px;
}
  #myBtn:hover {
    background-color: #00ABE1;
    ;
  }
/*contact section end*/